.custom-text{
    text-transform: uppercase; 
}

.bold-text {
    font-weight:bold;
}

.custom-border-container {
    border-top: 2px solid; /* Ajusta el grosor según tus preferencias */
    border-bottom: 2px solid; /* Ajusta el grosor según tus preferencias */
 
}

@media only screen and (min-width: 768px) {
    .logo {
        height: 30.61px;
        width: 25px;
    }
}