.link{

text-decoration: none;
}
.custom-text{
    text-transform: uppercase; 
}

.bold-text {
    font-weight:bold;
}

.custom-border-container {
    border-top: 2px solid; /* Ajusta el grosor según tus preferencias */
    border-bottom: 2px solid; /* Ajusta el grosor según tus preferencias */
 
}

