
.containerDescription {
    width: auto;
    height: auto; 
    margin-top: 80px;
    padding: 20px; 
}

.column {
    height: auto; 
    text-align: center;
    background-color: white;
    margin-bottom: 20px; 
    padding: 20px; 
}

.titlesDescription {
    font-size: 1.5rem;
    margin-bottom: 16px; 
}

.titleGreen {
    color: #5B8266;
}

.contentDescription {
    font-size: 1.3rem;
    line-height: 1.5;
}


@media screen and (max-width: 1440px) {
    .column {
        display: none;
        /*width: 100%; /* Hacer que las columnas ocupen todo el ancho en pantallas más pequeñas */
    }

    .section{
        text-align: center;
        padding: 10px;
    }
}


@media screen and (max-width: 375px) {
    
    .containerDescription {
        padding: 10px; /* Reducir el relleno en pantallas aún más pequeñas */
    }
}



