.ml-n4 {
    margin-left: -4rem;
    font-weight: bold;
    
    
    
  }
  .card {
    max-width: 767px;
    max-height: 300px;
    border: none;
    margin:30px ;
  }
  .cart-title {
    color: #323334;
    
  }
  
  @media (max-width: 768px) {
  
    .img-fluid {
      max-height: 100%;
      width: 100%;
      
    }
    
    .row {
      background-color: #EAE9E7;
      
    }
    .col-md-6 {
      width: 50%;
      
    }
    .btn-primary{
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0);
      color: #000;
      font-weight: bold;
      width: 124px;
      height: 48px;
      border-color: #000;
    }
    
  }
  @media (min-width: 769px) {
  
    .img-fluid {
      max-height: 100%;
      width: 100%;
      
    }
    .EventTitle{
      margin-top: -200px;
    }
    
    .row {
      background-color: #EAE9E7;
      
    }
    .col-md-6 {
      width: 50%;
      
    }
    .btn-primary{
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0);
      color: #000;
      font-weight: bold;
      width: 124px;
      height: 48px;
      border-color: #000;
    }
  }
  @media (min-width: 1000px) {
  
    .img-fluid {
      max-height: 100%;
      width: 100%;
      
    }
    .EventTitle{
      margin-top: -160px;
    }
    
    .row {
      background-color: #EAE9E7;
      
    }
    .col-md-6 {
      width: 50%;
      
    }
    .btn-primary{
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0);
      color: #000;
      font-weight: bold;
      width: 124px;
      height: 48px;
      border-color: #000;
    }
  }
  @media (min-width: 1400px) {
    .card-large {
      width: 45%;
      margin-right: 2.5%; 
    }
  }
  