.ml-n4 {
  
    font-weight: bold;
    align-items: center;
  }
  .card1 {
    max-width: 767px;
    max-height: 300px;
    border: none;
    background-color: #EAE9E7;
    margin-top: 10px;
  }
  .cart-title {
    color: #323334;
   
  }

  .btn-primary{
    border: solid 1px #4C8787 ;
  }

  .btn-primary:hover{
    background-color: #294936;
    border: solid 1px #294936;
  }

  
  @media (max-width: 768px) {
  
    .img-fluid {
      height: 250px;
      width: 400px;
      
    }
    
    .cardRowEvent {
      background-color: #EAE9E7;
      
    }
    .col-md-6 {
      width: 50%;
      
    }
    .btn-primary{
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0);
      color: #000;
      font-weight: bold;
      width: 124px;
      height: 48px;
      border-color: #000;
    }
    
  }
  @media (min-width: 769px) {
    .ml-n4 {
      margin-left: -4rem;
     
    }
    .img-fluid {
      max-height: 100%;
      width: 100%;
      
    }
    .EventTitle{
      margin-top: -200px;
    }
    
    .cardRowEvent {
      background-color: #EAE9E7;
      
    }
    .col-md-6 {
      width: 50%;
      
    }
    .btn-primary{
      font-size: 18px;
      color: #ffffff;
      font-weight: normal;
      width: 124px;
      height: 48px;
      background-color: #063012;
      border-radius: 0;
    }
  }
  @media (min-width: 1000px) {
  .card1{
    width: 636px;
    height: 368px;
  }
  .cart-title{
    margin-top: 100px;
  }
    .imgEvents {
      height: 364px;
      width: 362px;
      
    }
    .EventTitle{
      margin-top: -238px;
      margin-left: 120px;
    }
    
    .cardRowEvent {
      background-color: #EAE9E7;
      
    }
    .col-md-6 {
      width: 50%;
      
    }
    .btn-primary{
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0);
      color: #ffffff;
      font-weight: bold;
      width: 124px;
      height: 48px;
      background-color: #063012;
      
    }
    .buttonEvents{
      margin-left: 110px;
    }
  }

  @media (min-width: 1490px) {
    .card1{
      width: 636px;
      height: 368px;
      margin-right: 25px;
      margin-top: 50px;
    }
    .cart-title{
      margin-top: 0px;
    }
      .imgEvents {
        height: 364px;
        width: 362px;
        
      }
      .EventTitle{
        margin-top: -238px;
        margin-left: 120px;
      }
      
      .cardRowEvent {
        background-color: #EAE9E7;
        
      }
      .col-md-6 {
        width: 50%;
        
      }
      .btn-primary{
        font-size: 18px;
        background-color: rgba(255, 255, 255, 0);
        color: #ffffff;
        font-weight: bold;
        width: 124px;
        height: 48px;
        background-color: #063012;
        
      }
      .buttonEvents{
        margin-left: 110px;
      }
    }