
.footer1{
    background-color: #118639;
    margin: 0;
    margin-top: 0px;
    color: #fff;
    padding: 25px;
 
}   

.orden{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.orden-iconos {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    width: 5%;
    
}

.footer2 {
    background-color: #063012;
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
    padding: 10px 0;
}

.tamano {
    padding-right: 40%;
}

.link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.link1 {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.link2 {
    text-decoration: none;
    color: #fff;

}


@media screen and (max-width: 960px) {
    .orden{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .footer1{
        margin: 0;
        padding: 25px;
     
    } 
}
 
@media screen and (max-width: 380px) {
    .orden{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer1{
        background-color: #118639;
        margin: 0;
        color: #fff;
        padding: 25px;
     
    } 

    .proximos-eventos {
        display: none;
    }
}
@media screen and (min-width: 1300px) {

    .footer1{
     
        margin-top: 125px;
        
      
     
    }   
}
 