.card3 {
  max-width: 767px;
  max-height: 300px;
  border: none;
  background-color: #EAE9E7;
  margin-top: 10px;
}
@media (min-width: 769px) and (max-width: 1439px) {
  
   
    .PlantTitle{
      margin-top: -200px;
    }

   
  }
  @media (min-width: 1000px) {
  
   
    .PlantTitle{
      margin-top: -300px;
    }
   
  }
  @media only screen and (min-width: 1440px) and (max-width: 1919px){
  .card2{
    margin-top: -800px;
      width: 636px;
      height: 368px;
    
  }
  .card-large {
    margin-right: 2.5%; 
  }
  .PlantTitle{
    
    margin-left: 154px;
  }
  .buttonPlants{
    margin-left: 150px;
    margin-top: 10px;
  }

.card3 {
  max-width: 767px;
  max-height: 300px;
  border: none;
  background-color: #EAE9E7;
  margin-top: 10px;
}
  }
  @media only screen and (min-width: 1919px) {
 
    .card-large {
      margin-right: 2.5%; 
    }
    .PlantTitle{
      margin-top: -267px;
      margin-left: 154px;
    }
    .buttonPlants{
      margin-left: 150px;
      margin-top: 2px;
    }
  
  .card3 {
    margin-top: 50px;
    width: 636px;
    height: 368px;
    border: none;
    background-color: #EAE9E7;
    margin-left: 25px;
    
  }
    }