
.cuerpo{
    /*margin-top: -600px;*/
    background-color: rgba(130, 255, 130, 0.5);
    /*width: 50%;*/
    height: 300px;
    margin-left: -16px;
}
.title{
   
   font-size: 28px;
   font-weight: bold;
   text-align: center;
}
.button2{
    margin-top: 30px;
    background-color:#4C8787;
    color: white;
    font-weight: normal;
    border-radius: 0;
}
.txt{
    margin-top: 60px;
    font-size: 16px;
}
.huella{
    border-radius: 2em;

    height: 650px;
    /*width: 430px;*/
    width:100%;
    margin-bottom: 10em;
    /*margin-bottom: 450px; *//*quitar cuando se arregle footer*/
}
/*
@media only screen and  (min-width: 765px){
    .title{
       
        font-size: 25px;
        font-weight: bold;
        text-align: center;
     
     } 
     .txt{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 16px;
    }
    .huella{
        height: 510px;
        width: 700px;
        margin-bottom: 0px;
    }
    .imghuella{
        height: 265px;
        width: 508px;
        margin-left: 305px;
        content: url('./../../../public/huella.jpg');
        border-radius:0 36px  36px 0;
    }
    
.cuerpo{
    margin-top: -280px;
    background-color: rgba(130, 255, 130, 0.5);
    width: 490px;
    height: 265px;
    margin-left: -200px;
    border-radius:36px 0 0 36px;
  }
  .button2{
    margin-top: -100px;
    
    }}
@media only screen and  (min-width: 1000px){
        .title{
           
            font-size: 25px;
            font-weight: bold;
            text-align: center;
         
         } 
         .txt{
            margin-top: 20px;
            margin-left: 20px;
            font-size: 16px;
        }
        .huella{
            height: 510px;
            width: 700px;
            margin-bottom: 0px;
        }
        .imghuella{
            height: 265px;
            width: 683px;
            margin-left: 653px;
            content: url('./../../../public/huella.jpg');
            border-radius:0 36px  36px 0;
        }
        
    .cuerpo{
        margin-top: -281px;
        background-color: rgba(130, 255, 130, 0.5);
        width: 683px;
        height: 265px;
        margin-left: -45px;
        border-radius:36px 0 0 36px;
      }
      .button2{
        margin-top: -200px;
        margin-left: 200px;
        
        }}
*/
@media only screen and (min-width: 1440px){

        
        .title{
            /*width: 378.61px;*/
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            /*margin-left: 220px;*/
         } 
         .txt{
            /*width: 378.61px;*/
            margin-top: 50px;
            /*margin-left: 230px;*/
            font-size: 20px;
        }
        .huella{
            display: inline-block;
            /*height: 510px;*/
            height: 100%;
            width: 100%;
            /*width: 700px;*/
            /*margin-bottom: 250px;*/ /*quitar cuando se arregle footer*/
        }
        .huella .card-body{
            display: inline;
            height: 100%;
            width: 100%;
        }
        .imghuella{
            width: 20%;
            /*height: 430px;*/
            /*width: 900px;*/
            /*margin-left: 975px;*/
            /*content: url('./../../../public/huella.jpg');*/
        }
        
    .cuerpo{
        /*margin-top: -446px;*/
        background-color: rgba(130, 255, 130, 0.5);
        /*width: 910px;*/
        height: 430px;
        /*margin-left: -45px;*/
        
      }
      .button2{
        /*margin-top: -300px;*/
        margin-left: 300px;
        
        
        }}  
    