.userTitle{

  font-family: 'DM Serif Display', serif;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 180%;
}

.imageContact{
    
   width: 100%;
   
    
}
@media (min-width: 375px) {
  .userTitle{
    margin-left: 5%;
  }
}
@media (min-width: 769px) {
  
  .imageContact{
    
    margin-top: 20px;   
 }
 .userTitle{
 text-align: center;
 }

}