.carousel-item-container {
  display: flex;
  background-color: green;
  height: 500px;
  overflow: hidden;
}

.left-content {
  width: 200%;
  margin-left: -170px;
}
.boton {
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-weight: bold;
  width: 124px;
  height: 48px;
  border-color: #ffffff;
}

.carrouselImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  display:block;
  margin: 0 auto;
  object-position: center;
}
.image3{
  height: 100%;
 
}

.image4{
  height:600px;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .left-content {
    width: 80%;
  }
 
}
@media only screen and (max-width: 1000px) and (min-width: 801px) {
  .left-content {
    width: 100%;
  }
  .boton{
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    width: 124px;
    height: 48px;
    background-color: #063012;
    border-radius: 0;
  }
}
@media only screen and (min-width: 1001px) {
  .left-content {
    width: 100%;
  }
  .image2{
  height: 100%;
  content: url('https://res.cloudinary.com/ddtolhmab/image/upload/v1709377385/3_or2cvs.jpg');
}
.image3{
  
  content: url('https://res.cloudinary.com/ddtolhmab/image/upload/v1709456706/flores_jqxd26.png');
}
.image4{
 
  content: url('https://res.cloudinary.com/ddtolhmab/image/upload/v1709377386/2_honk8z.jpg');
}

}

